.player-list {
  display: flex;
  justify-content: space-evenly;
  background: black;
  align-self: flex-end;
}

.player-input {
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  width: 20%;
  background-color: lightblue;
}