.card {
  border: 0.4em solid white;
  height: calc(16.6vh - 0.8em);
  background: #060ce9;
  display: flex;
  align-items: center;
  justify-content: center;
  color: yellow;
  font-size: 18px;
  font-weight: bold;
  text-shadow: 2px 2px black;
}

.card:hover {
  border: 0.4em solid yellow;
  background: yellow;
  color: #060ce9;
  text-shadow: 2px 2px white;
}
