.modal-container {
  display: none;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  background: #060ce9;
  color: white;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.modal-container.show{
  display: flex;
}

.header{
  height: 20%;
}

.modal-body{
  flex-grow: 1;
  max-width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}

.question{
  font-size: 2em;
  text-align: center;
  margin-bottom: 1em;
}

.answer{
  color: yellow;
  font-weight: bold;
  font-size: 2em;
}


.btn {
  background-color: white;
  color: #060ce9;
  border: 1px solid #060ce9;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.btn:hover {
  background-color: #060ce9;
  color: white;
  border: 1px solid white;
}
